# Ignore files in src/main/java/com/gooseplayer2/Library/
src/main/java/com/gooseplayer2/Library/*

# Ignore files in target/classes/com/gooseplayer2/Library/
target/classes/com/gooseplayer2/Library/*
